@media only screen and (max-width: 990px){
    .new_videos > .row:nth-of-type(4){
        border: none;
        margin-bottom: 0;
    }
    .new_news_and_videos > .row > .col-md-6:first-child {
        border: none;
    }
    .new_news_and_videos {
        border: none;
        margin-bottom: 0;
    }   
}
@media only screen and (min-width: 991px){
    .social_thoi_su{
        padding-top: 0;
    }
    .reporting{
        border: none;
        margin-bottom: 0;
    }
    .social_thoi_su > .row:nth-of-type(2){
        margin-top: 0;
    }
    .new_videos > .row:nth-of-type(4){
        border-bottom: none;
    }
}